<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1268336-8");
pageTracker._trackPageview();
} catch(err) {}</script>

<script type="text/javascript" src="http://i.yimg.jp/images/analytics/js/ywa.js"></script>
<script type="text/javascript">
var YWATracker = YWA.getTracker("1000282685644");
YWATracker.addExcludeProtocol("file:");
YWATracker.submit();
</script>
<noscript>
<div><img src="http://by.analytics.yahoo.co.jp/p.pl?a=1000282685644&amp;js=no" width="1" height="1" alt="" /></div>
</noscript>
